/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 11, 2021, 6:10:35 PM
    Author     : Pablo
*/

:root {
    --bg-color: #003c66;
    --main-color: #0099cc;
    --main-font: 'Poppins', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
}

a {
    text-decoration: none;
    color: white;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header {
    height: 10%;
    width: 100%;
    margin: 5px;
    background-image: url("images/nav-background.png");
}
#logo {
    height: 100%;
}

#logo img {
    height: 100%;
}

.social-container  {
    height: 100%;
}

.social-icon {
    height: 100%;
    width: 100px;
    color: var(--main-color);
    cursor: pointer;
}

nav {
    height: 5%;
    width: 100%;
    margin: 5px;
}

ul {
    height: 90%;
    padding: 0;
    margin: 0;
}

ul li {
    height: 100%;
    width: 20%;
    list-style-type: none;
    background-color: var(--bg-color);
    margin: 0px 5px; 
    justify-content: center;
}

ul li a {
    text-align: center;
    color: var(--main-color);
}

section:first-of-type {
    height:20%; 
    width: 100%;
    margin: 5px;
    padding: 0;
}

section article {
    height: 100%;
    width: 33%;
    margin: 5px;
    padding: 3px;
    background-color: #c9ecdf;
    overflow: hidden;
}

article img {
    width: 200px;
}

.highlight-content {
    text-align: center;
}

h4 {
    padding: 5px;
}

.myButton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}


#central {
    height: 60%;
    width: 100%;
    padding: 0;
    margin-top: 10px;
}

aside {
    height: 100%;
    width: 20%;
    background-color: var(--bg-color);
    display: inline-block;
    margin: 5px;
    color: white;
}

#main-article {
    height: 100%;
    width: 60%;
    margin: 5px;
    padding: 0px 10px;
}

footer {
    height: 5%;
    width: 100%;
    margin: 5px;
    background-color: var(--bg-color);
    color: white;
}

footer span {
    margin: 0px 20px;
}